<ion-header>
  <ion-toolbar>
    <ion-title>Un Jugador</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<div class="centrado">
    <ion-button ion-button round (click)="clickedStar();dadobot1();dadobot2();dadobot3()"> Lanzar dados</ion-button>


</div>
<p>Jugador 1</p> <ion-icon name="bicycle"></ion-icon>
<ion-progress-bar   class="progress-bar" color="secondary" [value]="jugador"><ion-icon name="bicycle"></ion-icon></ion-progress-bar>

<p>Jugador 2</p> <ion-icon name="bicycle"></ion-icon>
<ion-progress-bar class="progress-bar" color="secondary" [value]="bot1"></ion-progress-bar>

<p>Jugador 3</p> <ion-icon name="bicycle"></ion-icon>
<ion-progress-bar  class="progress-bar" color="secondary" [value]="bot2"></ion-progress-bar>

<p>Jugador 4</p> <ion-icon name="bicycle"></ion-icon>
<ion-progress-bar class="progress-bar" color="secondary"  [value]="bot3"></ion-progress-bar>

<div class="centrado">   
    <p>{{ganador}} </p>
   


    <ion-button ion-button round  (click)="limpiar()" >Jugar de nuevo</ion-button>
    <ion-button ion-button round  routerLink="/home"  >Salir</ion-button>

  

</div>

</ion-content>
