.centrado{
    text-align: center;
  }
 
  .progress-bar {
    transition: width 0.5s linear;
    height: 5%;
    background-color: #337AB7;
    border-radius: 4px;
  }
  body {
    background-color: rgb(38, 16, 98);
  }
