<ion-header>
  <ion-toolbar>
    <ion-title>
      Juego
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="body">
  

  <div class="centrado">
    <ion-img src="https://i.pinimg.com/originals/49/92/00/499200787423952256d813d9008e7735.jpg" style="width: 100%; height: 100%; "></ion-img>



  </div>


<div class="gifloading"> 


 



  <ion-button routerLink="/uno">Un Jugador</ion-button>
  <ion-button  routerLink="/dos">2  Jugadores</ion-button>
  <ion-button  routerLink="/tres">3  Jugadores</ion-button>
  <ion-button  routerLink="/varios">4 Jugadores</ion-button>


</div >
  







  

</ion-content>